* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  background-color: #FFFFFF;
  
}
nav ul {
  display: flex;
  list-style: none;
  
}

.menu li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.icon img {
  width: 139px;
  height: 60px;
}
.menu ul {
  gap: 32px;
}
.btn-1 {
  background-color: #469165;
  width: 164px;
  height: 44px;
  gap: 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/* Hero */

.hero {
  width: 1600px;
  height: 674px;
  background-image: url('../assets/hero-bg.png');
  
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 120px;
}
