* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
  background-color: #FFFFFF;
  
}
nav ul {
  display: flex;
  list-style: none;
  
}

.menu li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.icon img {
  width: 139px;
  height: 60px;
}
.menu ul {
  gap: 32px;
}
.btn-1 {
  background-color: #469165;
  width: 164px;
  height: 44px;
  gap: 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

/* Hero */

.hero {
  background-image: url('../assets/hero-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-details {
padding: 115.5px 120px 179.5px 120px;
}


.btn-2 {
  background-color: #FFFFFF;
  width: 229px;
  height: 35px;
  color: #469165;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  padding: 8px 12px;
  
 
}
.hero-top {
margin-bottom: 16px;
}

.btn-2 i {
  margin-right: 6px;
}

.hero h1 {
  font-size: 80px;
  color: #FFFFFF;
  margin-bottom: 16px;
  
}
.hero-contant {
  color: #30B868;
}

.hero p {
  font-size: 18px;
  color: #FFFFFF;
  
}
.hero-middle{
margin-bottom: 32px;
}
.hero-btn {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.btn-3 {
  background-color: #469165;
  width: 251px;
  height: 52px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-4 {
  background-color: transparent;
  width: 200px;
  height: 52px;
  gap: 10px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


/* Card */
.card-section {
  height: 448px;
  background-color: #FFFFFF;
}
.card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 44px;
}
.card-top h1 {
  font-size: 48px;
  margin-bottom: 16px;
}
.card-top p {
  font-size: 16px;
  color: #627382;
  
}